[submodule "cpp"]
	path = cpp
	url = git@github.com:AJamesChen/cpp.git

[submodule "cuda"]
	path = cuda
	url = git@github.com:AJamesChen/cuda.git

[submodule "python/codility"]
	path = python/codility
	url = git@github.com:AJamesChen/codility.git
[submodule "rust"]
	path = rust
	url = git@github.com:AJamesChen/rust.git
